html, body {
    margin: 0;
    padding: 0;
    height: 100%;

}


body{
    background-color: #99FF66;
}

#odin{
    font-family: 'Cinzel', serif;
    font-family: 'Ysabeau SC', sans-serif;
    text-align: center;
    width: 100%;
    background-color: green;
    padding: 60px 0;
    box-sizing: border-box;
    margin: 0;
    font-size:23px;
    color: #003300
}
.braz{
    font-family: 'Cinzel', serif;
font-family: 'Gloria Hallelujah', cursive;
    text-align: center;
    color:#003300;
    font-size: 30px;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}
.reci{
    font-family: 'Cinzel', serif;
    font-family: 'Gloria Hallelujah', cursive;
    text-align: center;
    list-style-type: none;
    background-color: greenyellow;
    border-style: solid;
    border-radius: 20px;
    color: darkgreen;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    max-width: 300px;
    padding: 10px;
    margin: 0 auto;
    font-size:25px;
}
.reci a {
    text-decoration: none;
    color: darkgreen;
}
